@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Code', monospace;
}

.selectize-input {
  font-family: 'Fira Code', monospace;
}

.selectize-dropdown {
  font-family: 'Fira Code', monospace;
}